html {scroll-behavior: smooth;}
    h1 {color: rgb(37, 108, 216); font-size: 40px; font-family: serif;}
    h2 {color: green;}
    .container {max-width: 1250px;margin: auto;padding: 20px;}
    
body {background: linear-gradient(180deg, #0f0f0f, #1a1a1a);
  color: #eaeaea;
  font-family: Arial, sans-serif;margin: 0;}

 .btn {
  display: inline-block;
  padding: 12px 22px;
  background: #111;
  color: #eee;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-dark:hover {
  background: #1f1f1f;
  border-color: #555;
  color: #fff;
}

