html {scroll-behavior: smooth;}
    h1 {color: rgb(37, 108, 216); font-size: 40px; font-family: serif;}
    h2 {color: green;}
    .container {max-width: 1250px;margin: auto;padding: 20px;}
    
body {background: linear-gradient(180deg, #0f0f0f, #1a1a1a);
  color: #eaeaea;
  font-family: Arial, sans-serif;margin: 0;}